*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    transition: .5s;
}
span{
    color: #ed563b;
}
p{
    font-weight: 100;
    font-family: sans-serif;
    color: rgb(126, 122, 122);
    text-transform: initial;
}
a{
    color: white !important;
    text-decoration: none;
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}


/*-- Scrollbar --*/

body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-track{
    background-image: linear-gradient(to bottom, #000000, #817f7f);
}
body::-webkit-scrollbar-thumb{
    background-color: #ed563b;
}


/*-- Home --*/

.navbar-brand{
    font-size: 38px;
    font-weight: bolder;
    letter-spacing: .01px;
}
.home-text{
    width: 100%;
}
.home-text h1{
    font-size: 100px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: bolder;
    margin: 40px 0;
}
.submit{
    padding: 10px 25px;
    background-color: #ed563b;
    transition: .4s;
}
.submit:hover{
    background-color: #e73516af;
}
.navbar-nav a:hover{
    color: #ed563b !important;
}
.main-header{
    position: relative;
    margin-bottom: 50px;
}
.main-header img{
    width: 100%;
}
.container{
    margin-top: 100px;
    margin-bottom: 100px;
}
#opacity{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: .55;
    top: 0;
}
#videoplay{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.navbar{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.404);
    box-shadow: 1px 1px 5px gray;
    color: white;
    text-transform: uppercase;
}
.home-text{
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}


/*-- Choose Program --*/

.choose-program{
    text-align: center;
    padding: 0 25%;
    margin-bottom: 70px;
}
.choose-program img{
    margin: 10px 0;
}
.card-text a{
    color: #ed563b !important;
}

.card{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    transition: .4s;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 10px rgb(141, 138, 138);
}

/*-- Motivation --*/

.motivation{
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
#motivation{
    min-width: 100%;
    min-height: 100%;
}
.motivation p{
    color: white;
    margin: 20px 0;
    text-transform:initial;
}


/*-- Our Classes --*/

.p-4{
    box-shadow: 1px 1px 10px rgb(141, 138, 138);
    border-radius: 5px;
}
.p-4 h5{
    font-weight: 500;
    margin-left: 20px;
}
#orange{
    background-color: #ed563b;
}
#orange a:hover{
    background-color: #ed563b;
}
.our-classes img{
    border-radius: 10px;
}
.our-classes h3,.our-classes p,.our-classes a{
    margin: 15px 0;
}



/*-- Classes Schedule --*/

.course{
    position: relative;
}
#schedule-img{
    width: 100%;
}
table{
    margin-top: 40px;
}
td{
    border: 1px solid white;
    padding: 15px 60px;
}

/*-- Courses --*/

.card-footer{
    border: none;
    background-color: transparent;
}
.card-footer img{
    width: 25px;
    margin: 10px 15px 10px 0;
    border-radius: 50%;
    transition: .4s;
}
.card-footer img:hover{
    background-color: #ed563b;
}


/*-- Contact --*/


.col-md-6 input,.col-md-12 input,.col-md-12 textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 5px;
    border: none;
}